#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:

override_dh_auto_test:
	@:

override_dh_auto_install:
	mkdir -p debian/firespecs/usr/share/firespecs
	cp -r app icons firespecs.py attribution.txt changelog.txt debian/firespecs/usr/share/firespecs/
	install -D -m 755 debian/firespecs.py debian/firespecs/usr/bin/firespecs
	install -D -m 644 debian/firespecs.desktop debian/firespecs/usr/share/applications/firespecs.desktop
	install -D -m 644 icons/logo.png debian/firespecs/usr/share/pixmaps/firespecs.png

override_dh_auto_clean:
	rm -rf dist *.egg-info debian/firespecs
	rm -rf build/AppDir build/tools build/*.deb build/*.egg-info 2>/dev/null || true
